# Difference between Hardware and Software

In [1]:
# tangible components and intangible components

In [2]:
# software is a package/bunch of instructions......instructions are written by programmin language(s)

In [3]:
# all operationg systems are also softwares.......OS controls and runs all the hardware

In [4]:
# Java, C, C++, C Sharp, python etc. are the famous programming languages

# Compiler and Interpreter

In [5]:
# python and Ruby use Interpreter......C, C++ us Compilers

In [6]:
# line by line Translation & Execution.......full program Translation & Execution (at once)

In [7]:
# you need to find the pros and cons of both Interpreter & Compiler

## A Smarter Way to Learn Python (text book)

## PYTHON
## CRASH COURSE (reference book)

In [8]:
#.............................................

# Why Python

In [9]:
# works on different platforms i.e. Windows, Linux,....
# simple syntax just like English
# code in fewer lines as compared with other languages
# can be treated in Procedural Way, an Object Oriented way and/or a Functional way
# fastest adoptable language both in AI & Data Science
# the most famous machine learning libraries like Tensorflow (produced by Google) is Python based
# many libraries available due to the open source Programming Language
# web page, website, data connectivity etc. all are covered in Python
# fastest growing language in the world (went upto 2nd position in Programmin Languages)
# R is also famous but does not support as much variety as of Python

* two versions of Python 2 & 3 and the latest version is 3.7

* 3.8.1 documentation released on 18 December 2019
** 3.8.0 documentation was released on 14 October 2019

# Print function (chapter 1.....A Smarter Way to Learn Python)

In [10]:
print('Hello World!') # a function is recognized by the () which indicates that it will perform some.....green color 
        #indicates that the name is correct

Hello World!

In [11]:
Print() # black color indicates that the name is incorrect ..... also means that Python is case sensitive language

NameError: name 'Print' is not defined

In [12]:
print('Islamabad','Hellow Students!',100,405,True)# more than one values/data can be printed using print()

Islamabad Hellow Students! 100 405 True

In [13]:
# numbers without decimals are int (integers)
# numbers with decimals are float (floating point integers)
# text(string value), even integers/floating numbers or alphanumeric data written in ''/""/""" """/''' ''' are str (strings)
# True & False are bool (boolean)
# 4j5, t6 etc. are complex data type

In [14]:
print() #shift tab to display the signature of this function (description)
    #will print blank line

In [15]:
print('Islamabad','Hellow Students!',100,405,True, sep=' >>> ')# more than one values/data can be printed using print()

Islamabad >>> Hellow Students! >>> 100 >>> 405 >>> True

In [16]:
print('Hello')
print('World!')

Hello
World!

In [17]:
print('Hello World 1.')
print('Hello World 2.')
print('Hello World 3.')
print()
print('Hello World 4.')
print('Hello World 5.')

Hello World 1.
Hello World 2.
Hello World 3.

Hello World 4.
Hello World 5.

In [18]:
print('Hello', end='...')
print('World!')

Hello...World!

In [19]:
# explore (Google shah :) and search for escape characters in python and apply them in your own examples

# Variables (Numeric & Strings)....chapters 2 and 3

In [20]:
# variables are placeholders.....such placeholder which stores value(s) and later on can be changed as per requirement(s)

In [21]:
# variables may store int, float, str, bool, complex, list, tupple, set, dictionary etc.

In [22]:
a = 10 # a is variable name (identifier), = is not simple equal sign but Assignment Operaton and 10 is value
    # int value 10 is assigned to a variable a

In [23]:
print(a)

10

In [24]:
id(a)

140724138972256

In [25]:
a = 10.6 # old value being ower writen by float 10.6
print(a)
id(a)

10.6

2524888078256

In [26]:
b = 10.6
id(b)

2524888078184

In [27]:
a = 25.6
b = 25.6
id(a) == id(b)

False

In [28]:
a = 100
b = 100
id(a) == id(b)

True

In [29]:
type(a)

int

In [30]:
a = 10.6
type(a)

float

In [31]:
a = '5'
type(a)

str

In [32]:
a = True
type(a)

bool

In [33]:
a = 6j
type(a)

complex

In [34]:
city = 'Karachi'
type(city)

str

In [35]:
city = 4400
type(city)

int

In [36]:
fName = 'Shahzad'
lName = 'Ahmed'
print(fName + lName) # in a string + is not addition it is concatenation operator

ShahzadAhmed

In [37]:
num1 = 67
num2 = 33
print(num1 + num2)

100

In [38]:
num1 = '1'
num2 = 9
print(num1 + num2)

TypeError: can only concatenate str (not "int") to str

In [39]:
print(num2 + num1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Familiar Operators.......chapter 4

In [40]:
print(23 + 45)

68

In [41]:
# can also use variables to store these values and then sum those variables to display the result

In [42]:
a = 23
b = 45
c = a + b
print(c)

68

In [43]:
val1 = 100 # is type int
val2 = 10.5 # is type float
print(val1 + val2)

110.5

In [44]:
val1 = 100 # is type int
val2 = 10.5 # is type float
val3 = 0.5
print(val1 + val2 + val3)

111.0

In [45]:
# if any of the operands is of type float, the result will also be of type float

In [46]:
# addition, subtraction and multiplication result in type int if all the operands are of type int

In [47]:
# python's division is floating point division in version 3

In [48]:
val1 = 100
val2 = 20
print(val1 / val2)

5.0

In [49]:
# for int division we use // (which discards the decimal part i.e. floor of the result)

In [50]:
val1 = 100
val2 = 20
print(val1 // val2)
print(99 // 10)
print(99 / 10)

5
9
9.9

In [51]:
# complex operators
# logical (comparison) operators
# assignment operators
# membership operators
# bitwise.....operators
# ....operators

# if statement

In [52]:
a = 100
b = 200
if a < b:
    print('A is less than B.')
    print('Hello B')
    print('Hello A')
print('After the if block')
print('Hello python')

A is less than B.
Hello B
Hello A
After the if block
Hello python

In [53]:
a = 1000
b = 200
if a < b:                      # block executes only if the condition is True otherwise will be skipped
    print('A is less than B.')
    print('Hello B')
    print('Hello A')
print('After the if block')
print('Hello python')

After the if block
Hello python

In [54]:
# if else
# if elif ..... elif else
# nested if statements
# if with AND OR NOT operators

# Comments

In [55]:
# line(s) of text in our code that python ignores
# comments are for human NOT for the machine
# can explain a section of code
# can help to figure out the code functionality
# single line comment using # can also write multiple lines...select all of them and apply the single line # at once
# multi line comments

In [56]:
# This line will not be executed
# This line is also for comments
# This line is another comment line # select all the lines and press "ctrl + ?"

In [57]:
"""
This paragraph will be
ignored by python
and considered as comments.
Mostly this technique is used for docstring
which we will study in coming classes,
in Sha Allah.
"""
print("Hello")
'''
This paragraph will be
ignored by python
and considered as comments.
Mostly this technique is used for docstring
which we will study in coming classes,
in Sha Allah.
'''
print('Hello again')

Hello
Hello again

# User Input

In [58]:
# Input from keyboard
# function input() which has an optional parameter, which is the prompt string
# even if user inputs int, float and/or bool value, this function considers it as str
# to change the type of user input we use the type casting functions to fulfill the purpose

# Lists

In [59]:
# bunch of values in single variable just like array concept in other languages
# Lists are mutable (can be modified)
# list is enclosed in []
# list values (elements) are seperatd by ,
# every element has an index and please keep in mind that index always starts from 0, NOT 1
# last element's index will alsow by the total elements minus 1
# elements can be of different data types
# lists can have also lists within the list
# index can be also referred using minus.....starting from the last (right most) element by minus 1
# operations on lists
    # access value (getting an element)
    # add new values/elements (normally added at the end but can also be inserted on specific position)
    # find the index of an element
    # slicing the elements from a list
    # deleting and removing elements from a list
    # poping elements from one list and store them in variable(s) and/or other list(s) as per requirement
    # copying lists
    # extend list using another list or lists
    # direct assignment of list to some other variable (reference)

In [60]:
#   minus    3        2       1 
alist = ["Shahzad", 'Ali', "Nasir"]
# index     0         1       2

In [61]:
alist

['Shahzad', 'Ali', 'Nasir']

In [62]:
city1 = 'khi'
city2 = 'lhr'
city3 = 'isb'

cities = ['khi', 'lhr', 'isb']
cities

['khi', 'lhr', 'isb']

In [63]:
# how to access the list elements/members

In [64]:
alist[1]

'Ali'

In [65]:
cities[2]

'isb'

In [66]:
fruits = [] # an empty list
print(len(fruits)) # returns the number of elements in a list
print(len(cities))

0
3

In [67]:
fruits.append()

TypeError: append() takes exactly one argument (0 given)

In [68]:
fruits.append('Apple')
fruits

['Apple']

In [69]:
fruits.append('Orange')
fruits

['Apple', 'Orange']

In [70]:
fruits.insert(1, 'Mango')
fruits

['Apple', 'Mango', 'Orange']

In [71]:
fruits.insert(0, 'Grapes')
fruits

['Grapes', 'Apple', 'Mango', 'Orange']

In [72]:
fruits.append('abc','xyz')

TypeError: append() takes exactly one argument (2 given)

In [ ]:
fruits.insert(0, 'abc', 'xyz')

In [73]:
fruits.extend(['Cherry',"Blueberry"])
fruits

['Grapes', 'Apple', 'Mango', 'Orange', 'Cherry', 'Blueberry']

In [74]:
fruits.extend('testing')
fruits

['Grapes',
 'Apple',
 'Mango',
 'Orange',
 'Cherry',
 'Blueberry',
 't',
 'e',
 's',
 't',
 'i',
 'n',
 'g']

In [75]:
fruits.extend(('testing',"Pakistan"))
fruits

['Grapes',
 'Apple',
 'Mango',
 'Orange',
 'Cherry',
 'Blueberry',
 't',
 'e',
 's',
 't',
 'i',
 'n',
 'g',
 'testing',
 'Pakistan']

In [76]:
fruits.count('t')

2

In [77]:
fruits.index("Pakistan")

14

In [78]:
fruits.clear()
fruits

[]

In [79]:
fruits = ['Grapes', 'Apple', 'Mango', 'Orange', 'Cherry', 'Blueberry']

In [80]:
fruits

['Grapes', 'Apple', 'Mango', 'Orange', 'Cherry', 'Blueberry']

In [81]:
fruits2 = fruits
fruits2

['Grapes', 'Apple', 'Mango', 'Orange', 'Cherry', 'Blueberry']

In [82]:
id(fruits2)

2524888686344

In [83]:
id(fruits)

2524888686344

In [84]:
id(fruits) == id(fruits2)

True

In [85]:

fruits2 is fruits

True

In [86]:
fruits2.append("New Fruit")

In [87]:
fruits

['Grapes', 'Apple', 'Mango', 'Orange', 'Cherry', 'Blueberry', 'New Fruit']

In [88]:
fruits2

['Grapes', 'Apple', 'Mango', 'Orange', 'Cherry', 'Blueberry', 'New Fruit']

In [89]:
fruits3 = fruits.copy()

In [90]:
fruits3.insert(0,'Old Fruit')
fruits3

['Old Fruit',
 'Grapes',
 'Apple',
 'Mango',
 'Orange',
 'Cherry',
 'Blueberry',
 'New Fruit']

In [91]:
fruits

['Grapes', 'Apple', 'Mango', 'Orange', 'Cherry', 'Blueberry', 'New Fruit']

In [92]:
del fruits[1] # del is a statement used to delete the element using index
fruits

['Grapes', 'Mango', 'Orange', 'Cherry', 'Blueberry', 'New Fruit']

In [93]:
fruits.remove('Blueberry')

In [94]:
fruits

['Grapes', 'Mango', 'Orange', 'Cherry', 'New Fruit']

In [95]:
fruits.remove('Blueberry')

ValueError: list.remove(x): x not in list

In [96]:
fruits

['Grapes', 'Mango', 'Orange', 'Cherry', 'New Fruit']

In [97]:
poppedFruit = fruits.pop()
print(f"This fruit is popped from the list: {poppedFruit}")
print(f"Remaining fruits are: {fruits}")

This fruit is popped from the list: New Fruit
Remaining fruits are: ['Grapes', 'Mango', 'Orange', 'Cherry']

In [98]:
fruits = ['Grapes', 'Mango', 'Orange', 'Cherry']
poppedFruit = fruits.pop(fruits.index("Orange"))
print(f"This fruit is popped from the list: {poppedFruit}")
print(f"Remaining fruits are: {fruits}")

This fruit is popped from the list: Orange
Remaining fruits are: ['Grapes', 'Mango', 'Cherry']

In [99]:
poppedFruit = fruits.pop()
print(f"This fruit is popped from the list: {poppedFruit}")
print(f"Remaining fruits are: {fruits}")

This fruit is popped from the list: Cherry
Remaining fruits are: ['Grapes', 'Mango']

In [100]:
poppedFruit = fruits.pop()
print(f"This fruit is popped from the list: {poppedFruit}")
print(f"Remaining fruits are: {fruits}")

This fruit is popped from the list: Mango
Remaining fruits are: ['Grapes']

In [101]:
poppedFruit = fruits.pop()
print(f"This fruit is popped from the list: {poppedFruit}")
print(f"Remaining fruits are: {fruits}")

This fruit is popped from the list: Grapes
Remaining fruits are: []

In [102]:
poppedFruit = fruits.pop()
print(f"This fruit is popped from the list: {poppedFruit}")
print(f"Remaining fruits are: {fruits}")

IndexError: pop from empty list

In [103]:
fruits = ['Grapes', 'Mango', 'Orange', 'Cherry']
poppedFruit = fruits.pop(1)
print(f"This fruit is popped from the list: {poppedFruit}")
print(f"Remaining fruits are: {fruits}")

This fruit is popped from the list: Mango
Remaining fruits are: ['Grapes', 'Orange', 'Cherry']

In [104]:
fruits.reverse()
fruits

['Cherry', 'Orange', 'Grapes']

In [105]:
fruits.sort()
fruits

['Cherry', 'Grapes', 'Orange']

In [106]:
fruits.sort(reverse = True)
fruits

['Orange', 'Grapes', 'Cherry']

# Slicing lists

In [107]:
# reverse index    -5      -4        -3        -2       -1
students =       ['Ali', 'Faisal', 'Saleem', 'Hamza', "Kashif"]
# index             0       1         2         3        4

In [108]:
print(students[-4])
print(students[1])

Faisal
Faisal

In [109]:
# slicing [start (includes): end (excludes): optional step value(default 1)]

In [110]:
# to return 'Faisal' and 'Saleem'
# students[start:end+1]
print(students[1:2])

['Faisal']

In [111]:
print(students[1:3])

['Faisal', 'Saleem']

In [112]:
students[-4:-3]

['Faisal']

In [113]:
students[-4:-2:1]

['Faisal', 'Saleem']

In [114]:
students[:]

['Ali', 'Faisal', 'Saleem', 'Hamza', 'Kashif']

In [115]:
students[2:]

['Saleem', 'Hamza', 'Kashif']

In [116]:
students[:4]

['Ali', 'Faisal', 'Saleem', 'Hamza']

In [117]:
students[2:-1]

['Saleem', 'Hamza']

In [118]:
students

['Ali', 'Faisal', 'Saleem', 'Hamza', 'Kashif']

In [119]:
students[2:-5]

[]

In [120]:
students[1:3:-1]

[]

In [121]:
students[4:1:-1]

['Kashif', 'Hamza', 'Saleem']

In [122]:
# reverse index    -5      -4        -3        -2       -1
students =       ['Ali', 'Faisal', 'Saleem', 'Hamza', "Kashif"]
# index             0       1         2         3        4

In [123]:
students[-3:4:1] # step value + moves left to right ONLY

['Saleem', 'Hamza']

In [124]:
students[3:-4:-1] # step value - moves right to left ONLY

['Hamza', 'Saleem']

In [125]:
students[2:4:-1]

[]

In [126]:
students[2::-1]

['Saleem', 'Faisal', 'Ali']

In [127]:
students[:2:-1]

['Kashif', 'Hamza']

In [128]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [129]:
nums[0:11:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [130]:
nums[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [131]:
nums[::3]

[1, 4, 7, 10, 13, 16, 19]

In [132]:
nums[::4]

[1, 5, 9, 13, 17]

In [133]:
nums[::5]

[1, 6, 11, 16]

In [134]:
nums[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [135]:
nums[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [136]:
nums.reverse()
nums

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [137]:
nums

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [138]:
# del list[index] statement deletes the specified index value
# list.remove('value') function deletes the specified value

In [139]:
nums.pop() # default index -1 (last element) can be changed as per requirement

1

In [140]:
nums

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [141]:
nums.reverse()

In [142]:
nums

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Tuples

In [143]:
# 2nd method to store multiple values in single variable
# tuples are included within () and elements are seperated by ,
# tuples are immutable i.e. can not be modified

In [144]:
atupple = ('Nasir','Kashif','Mehmood')
atupple

('Nasir', 'Kashif', 'Mehmood')

In [145]:
len(atupple)

3

In [146]:
del atupple(1)

SyntaxError: can't delete function call (<ipython-input-146-0b53830b810b>, line 1)

In [147]:
atupple[1] = 'Pakistan'

TypeError: 'tuple' object does not support item assignment

In [148]:
a = 12, 13, 14, 15, 15, 13, 11, 11, 11, 10
a

(12, 13, 14, 15, 15, 13, 11, 11, 11, 10)

In [149]:
a[0]

12

In [150]:
a.index(14)

2

In [151]:
a.count(20)

0

In [152]:
a.count(11)

3

In [153]:
x, y, z = 10, 20, 30
print(y)
print(x)
print(z)

20
10
30

# for loops

In [154]:
# loops are used to perform some task(s) repeatedly
# loop has starting point: ending point: step value
# python has two types of loops
    # 1. for loops
    # 2. while loops
# syntax
    # for variable in iterable: string/range/list/tupple/dictionary
        # intended body
        # body continueus
        # still the body
    # loop ends and after the completion this line will execute

In [155]:
for i in 'pakistan':
    print(i)

p
a
k
i
s
t
a
n

In [156]:
# to stop a variable before completion use break to terminate the loop
for i in 'pakistan':
    if i == 'i':
        break
    print(i)
print('After BREAKing the loop.')

p
a
k
After BREAKing the loop.

In [157]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [158]:
for i in range(1,11,2):
    print(i)
    if i >= 5:
        break
    print('Pakistan')
print('After exiting the loop')

1
Pakistan
3
Pakistan
5
After exiting the loop

In [159]:
# continue is used to send back up the loop
for i in range(1,11):
    print(i)
    if i > 5:
        continue
    print('Pakistan')
print('After exiting the loop')

1
Pakistan
2
Pakistan
3
Pakistan
4
Pakistan
5
Pakistan
6
7
8
9
10
After exiting the loop

In [160]:
print('Pakistan')
print('Pakistan')
print('Pakistan')
print('Pakistan')
print('Pakistan')

Pakistan
Pakistan
Pakistan
Pakistan
Pakistan

In [161]:
for i in range(15): # start optional by default 0 and includes
                    # end excludes
                    # step value by defaule 1
    print('Pakistan'+str(i+1))

Pakistan1
Pakistan2
Pakistan3
Pakistan4
Pakistan5
Pakistan6
Pakistan7
Pakistan8
Pakistan9
Pakistan10
Pakistan11
Pakistan12
Pakistan13
Pakistan14
Pakistan15

In [162]:
students

['Ali', 'Faisal', 'Saleem', 'Hamza', 'Kashif']

In [163]:
for student in students:
    print(f"Name of student in interview: {student}")

Name of student in interview: Ali
Name of student in interview: Faisal
Name of student in interview: Saleem
Name of student in interview: Hamza
Name of student in interview: Kashif

In [164]:
for i in [11, 12, 13, 14, 15]:
    print(i)

11
12
13
14
15

In [165]:
'i' in 'Pakistan'

True

In [166]:
a

(12, 13, 14, 15, 15, 13, 11, 11, 11, 10)

In [167]:
for k in a:
    print('Value in tupple:', k)

Value in tupple: 12
Value in tupple: 13
Value in tupple: 14
Value in tupple: 15
Value in tupple: 15
Value in tupple: 13
Value in tupple: 11
Value in tupple: 11
Value in tupple: 11
Value in tupple: 10

In [168]:
for i in range(10):
    if i in [4, 5, 6,7]:
        continue
    print(i)

0
1
2
3
8
9

# nested for loops

In [169]:
for a in range(3):
    print('Inner loop begins:')
    for chr in 'China':
        print(a, chr)

Inner loop begins:
0 C
0 h
0 i
0 n
0 a
Inner loop begins:
1 C
1 h
1 i
1 n
1 a
Inner loop begins:
2 C
2 h
2 i
2 n
2 a

In [170]:
# single table by user input
# multiple tables by user input using nested for loops

# type casting

In [171]:
# data type change kar dena
# wraper charh'ha dena
# number in str format can be type casted to int and/or float
# alphanumeric in str format can not be type casted to int and/or float

In [172]:
userinput = float(input('Enter something: '))
print(userinput)
type(userinput)

Enter something: 5
5.0

float

# changing case

In [173]:
a = 'pakistan ziNDa bad'

In [174]:
b = input("Enter some string: ")
print(b.casefold())
print(b)

Enter some string: PaKisTAN
pakistan
PaKisTAN

In [175]:
print(a.lower())
print(a.capitalize())
print(a.title())
print(a.upper())
print(a.casefold())

pakistan zinda bad
Pakistan zinda bad
Pakistan Zinda Bad
PAKISTAN ZINDA BAD
pakistan zinda bad

# Dictionaries

In [176]:
# myDict = {key1:value1, key2:value2, key3:value3,...,...,...,......}
# dictionary is a type of data structure to store multiple values in single variable
# in normal dictionary we search for the word and find the description of that word in dictionary
# python dictionaries have keys:values
# dictionaries don't have index like lists and/or tupples
# dictionary is enclosed in {} items are seperated by , items has two part key:value
# abc = {} is an empty dictionary
# keys data type i.e. int, float, str
# values' data type can be int, float, str, bool, list, tupple, dictionary

In [177]:
myDict = {'name':"Shahzad Ahmed", 'age':47, 'gender':'M'}
len(myDict)

3

# Adding a new element (key:value) to an existing Dictionary

In [178]:
myDict['email']='abcd@gmail.com'

In [179]:
myDict

{'name': 'Shahzad Ahmed', 'age': 47, 'gender': 'M', 'email': 'abcd@gmail.com'}

In [180]:
len(myDict)

4

In [181]:
print(myDict['name'])

Shahzad Ahmed

In [182]:
print(myDict['email'])

abcd@gmail.com

In [183]:
print(myDict['Gender']) # python is case sensetive

KeyError: 'Gender'

In [184]:
print(myDict['gender'])

M

In [185]:
myDict['fatherName']='Muhammad Yousaf'

In [186]:
len(myDict)

5

In [187]:
myDict

{'name': 'Shahzad Ahmed',
 'age': 47,
 'gender': 'M',
 'email': 'abcd@gmail.com',
 'fatherName': 'Muhammad Yousaf'}

In [188]:
print(myDict)

{'name': 'Shahzad Ahmed', 'age': 47, 'gender': 'M', 'email': 'abcd@gmail.com', 'fatherName': 'Muhammad Yousaf'}

In [189]:
for i in myDict.keys():
    print(i)

name
age
gender
email
fatherName

In [190]:
for i in myDict.values():
    print(i)

Shahzad Ahmed
47
M
abcd@gmail.com
Muhammad Yousaf

In [191]:
print(myDict)

{'name': 'Shahzad Ahmed', 'age': 47, 'gender': 'M', 'email': 'abcd@gmail.com', 'fatherName': 'Muhammad Yousaf'}

In [192]:
for key, value in myDict.items():
    print(f"{key}:{value}")

name:Shahzad Ahmed
age:47
gender:M
email:abcd@gmail.com
fatherName:Muhammad Yousaf

In [193]:
#updating value of key in a dictionary
myDict['age'] = 48
print(myDict)

{'name': 'Shahzad Ahmed', 'age': 48, 'gender': 'M', 'email': 'abcd@gmail.com', 'fatherName': 'Muhammad Yousaf'}

In [194]:
myDict.keys()

dict_keys(['name', 'age', 'gender', 'email', 'fatherName'])

In [195]:
myDict.values()

dict_values(['Shahzad Ahmed', 48, 'M', 'abcd@gmail.com', 'Muhammad Yousaf'])

In [196]:
myDict.items() # returns a list of tupples of (key, value)

dict_items([('name', 'Shahzad Ahmed'), ('age', 48), ('gender', 'M'), ('email', 'abcd@gmail.com'), ('fatherName', 'Muhammad Yousaf')])

In [197]:
myDict[age] # will return error cz key is str i.e. enclosed in ' ' or " "

NameError: name 'age' is not defined

In [198]:
myDict['age']

48

In [199]:
newDict = {1:'Shahzad', 2:'Muhammad'}

In [200]:
newDict[1]

'Shahzad'

In [201]:
# deleting an item
del newDict[1]

In [202]:
print(newDict)

{2: 'Muhammad'}

In [203]:
newDict['gender'] = "Male"
print(newDict)

{2: 'Muhammad', 'gender': 'Male'}

In [204]:
newDict['email'] = 'abc@gmail.com'
print(newDict)

{2: 'Muhammad', 'gender': 'Male', 'email': 'abc@gmail.com'}

In [205]:
newDict['email'] = 'Muhammad@hotmail.com'
print(newDict)

{2: 'Muhammad', 'gender': 'Male', 'email': 'Muhammad@hotmail.com'}

In [206]:
newDict.get('fName','Does not exist')

'Does not exist'

In [207]:
newDict['fName']

KeyError: 'fName'

In [208]:
1 in newDict

False

In [209]:
'email' in newDict

True

In [210]:
2 in newDict

True

In [211]:
'Muhammad' in newDict # checks only the keys not the values

False

In [212]:
dict1 = {'x':1, 'y':2}
dict1.update(y = 3, z = 5, a = 0)
print(dict1)

{'x': 1, 'y': 3, 'z': 5, 'a': 0}

In [213]:
# removing key:value (item) from a dictionary
del dict1['y']
print(dict1)

{'x': 1, 'z': 5, 'a': 0}

In [214]:
dict2 = dict1.copy()
print(dict2)

{'x': 1, 'z': 5, 'a': 0}

In [215]:
dict2.setdefault('f')
print(dict2)

{'x': 1, 'z': 5, 'a': 0, 'f': None}

In [216]:
dict2.setdefault('g','Global')
print(dict2)

{'x': 1, 'z': 5, 'a': 0, 'f': None, 'g': 'Global'}

In [217]:
# dict[item1, item2, item3]
#item = key:value

d1 = {'id': 2,
     'name':"Qasim",
     'course':'A.I',
      'id':5,
     'admission date': '2019-12-15',
     'DOB': '01-01-2000'}

d1

{'id': 5,
 'name': 'Qasim',
 'course': 'A.I',
 'admission date': '2019-12-15',
 'DOB': '01-01-2000'}

In [221]:
information = {} # empty dictionary
user_id = input("Enter your ID")
information['id'] = user_id

name = input("Enter Your Name")
information['name'] = name

information['skills']=["Python"]


skills = input("Enter your skill with',' seprated value")
information['skills']=information['skills']+skills.split(',')
information

Enter your ID234
Enter Your NameZaheer
Enter your skill with',' seprated valuecoding,reporting,analysis

{'id': '234',
 'name': 'Zaheer',
 'skills': ['Python', 'coding', 'reporting', 'analysis']}

In [222]:
print(dict2)
dict2.clear()
print(dict2)

{}
{}

 l1 = ['id','name','course','timing','address', 'DOB']
print(l1)

d1 = dict.fromkeys(l1)
print(d1)

In [223]:
l1 = input("Entery comma seprated value")
l1 = l1.split(",")
print(l1)

d1 = dict.fromkeys(l1,"NAN")
print(d1)

Entery comma seprated valueid,name,age,email,skills
['id', 'name', 'age', 'email', 'skills']
{'id': 'NAN', 'name': 'NAN', 'age': 'NAN', 'email': 'NAN', 'skills': 'NAN'}

In [224]:
l1 = ['a','b','c']
l2 = ['x','y','z']
#d1 = {a:x, b:y, c:z}
l3 = list(zip(l1,l2))
print(l3)
d1 = dict(l3)
print(d1)
#dict([('a',"x"), ('b','y'), ('c','z')])

[('a', 'x'), ('b', 'y'), ('c', 'z')]
{'a': 'x', 'b': 'y', 'c': 'z'}

In [225]:
l1 = ['a','b','c']
l2 = ['x','y','z']
#d1 = {a:x, b:y, c:z}
print(dict(zip(l1,l2)))


#dict([('a',"x"), ('b','y'), ('c','z')])

{'a': 'x', 'b': 'y', 'c': 'z'}

In [226]:
d1 = {'a': 'x', 'b': 'y', 'c': 'z'}
print(d1.popitem())
print(d1)

('c', 'z')
{'a': 'x', 'b': 'y'}

In [227]:
d1 = {'a': 'x', 'b': 'y', 'c': 'z'}
print(d1.popitem('b','y'))
print(d1)

TypeError: popitem() takes no arguments (2 given)

In [228]:
d1 = {'a':'AA','b':'BB'}

d2 = {'a':"AAAA", 'c':'CCCC'}

d1.update(d2)
d1

{'a': 'AAAA', 'b': 'BB', 'c': 'CCCC'}

In [229]:
d1 = {'a':1, 'b': 5 , 'c':3 }
{k:v for k,v in sorted(d1.items(), key= lambda item: item[1])}

{'a': 1, 'c': 3, 'b': 5}

In [231]:
lst=[] # simple list to store all student data -> list of dicts
x='' # initialize the exit command with empty string
while x != 'x': 
    dict1={
        'id':input('please enter your id: '), # id  
        'name':input('please enter your name: '), # name 
        'skills':input('enter your skills').split() # comma separated skills
    } # dict to store student info
    lst.append(dict1) # append to "lst"
    x=input('please enter x to exit: ') # if x 
lst

please enter your id: 1
please enter your name: Kaleem
enter your skillsJava Excel PowerPoint
please enter x to exit:
please enter your id: 2
please enter your name: Nabeel
enter your skillsJava VisualBasic
please enter x to exit:
please enter your id: 3
please enter your name: Shakeel
enter your skillsPython R C++ Java
please enter x to exit: x

[{'id': '1', 'name': 'Kaleem', 'skills': ['Java', 'Excel', 'PowerPoint']},
 {'id': '2', 'name': 'Nabeel', 'skills': ['Java', 'VisualBasic']},
 {'id': '3', 'name': 'Shakeel', 'skills': ['Python', 'R', 'C++', 'Java']}]

# dictionary of dictionaries

In [232]:
# a dictionary that holds another dictionary as value or more other dictionaries as values
# a dictionary which has dictionary/dictionaries as value(s) against it's keys
# to access the value(s) from these inner dictionaries:
    # use key of outer dictionary to access the inner dictionary e.g. mydict[201]
    # now we are in inner dictionary so, use the key(s) of this inner dictionary to access the actual value(s) e.g.
    # mydict[201]["name"]
# if there is dictionary within list then "index" to access list element and then "key" to access the value
# if there is list within dictionary then "key" to access the inner list and then "index" to access the list's element

In [233]:
# to access the value(s) from these inner dictionaries:
    # use key of outer dictionary to access the inner dictionary e.g. mydict[201]
    # now we are in inner dictionary so, use the key(s) of this inner dictionary to access the actual value(s) e.g.
    # mydict[201]["name"]
employees={
    1: {'name': 'Ali', 
        'skills': ['a', 'b', 'c', 'd', 'e']
       },
    2: {'name': 'Bilal', 
        'skills': ['k', 'l', 'm']
       },
    3: {'name': 'Zahid', 
        'skills': ['x', 'y', 'z']
       }
}
print(employees[2]["name"])
print(employees[1]["skills"])

Bilal
['a', 'b', 'c', 'd', 'e']

In [234]:
# if there is dictionary within list then "index" to access list element and then "key" to access the value 
customers = [
     {
         "customer id": 0, 
         "first name":"John", 
         "last name": "Ogden",
          "address": "301 Arbor Rd.", 
     }, 
     { 
         "customer id": 1, 
         "first name":"Ann", 
         "last name": "Sattermyer", 
         "address": "PO Box 1145",
     },  
     { 
         "customer id": 2, 
         "first name":"Jill",
         "last name": "Somers", 
         "address": "3 Main St.", 
     }, 
 ] 
print(customers[2]["last name"])
print(customers[2]["customer id"])
print(customers[2]["address"])

Somers
2
3 Main St.

In [235]:
# if there is list within dictionary then "key" to access the inner list and then "index" to access the list's element
students = {
    "id" : 2,
    "name" : "Ali",
    "Subjects" : ['Biology', 'Physics', 'Chemistry']
}
print(students["Subjects"][:2])

['Biology', 'Physics']

In [182]:
mydict={} # empty dictionary to store all employees data -> dictionary of dictionaries
id = 1
x='' # initialize the exit command with empty string
while x != 'x': 
    dict1={ 
        'name':input('please enter your name: '), # name 
        'skills':input('enter your skills').split() # comma separated skills
    } # dict to store student info
    mydict[id] = dict1
    id += 1
    x=input('please enter x to exit: ') # if x 
mydict

please enter your name: Ali
enter your skillsa b c d e
please enter x to exit:
please enter your name: Bilal
enter your skillsk l m
please enter x to exit:
please enter your name: Zahid
enter your skillsx y z
please enter x to exit: x

{1: {'name': 'Ali', 'skills': ['a', 'b', 'c', 'd', 'e']},
 2: {'name': 'Bilal', 'skills': ['k', 'l', 'm']},
 3: {'name': 'Zahid', 'skills': ['x', 'y', 'z']}}

# Functions

* Functions are used for modularity and reusability.

![title](Functions1.png)

In [1]:
def addNumbers():
    fNumber = 10
    sNumber = 15
    total = fNumber + sNumber
    print(total)

In [15]:
addNumbers()

25

In [17]:
notDefined()

NameError: name 'notDefined' is not defined

In [18]:
def notDefined():
    print('Testing')
    print()
    print('End of  Function')

In [19]:
notDefined()

Testing

End of  Function

In [21]:
notDefined()
print('......')
notDefined()

Testing

End of  Function
......
Testing

End of  Function

In [25]:
print('A line before the defination block of my Function.')
def myFunction():
    print(12 + 13)
print('Second line after the defination block of my Function.')

A line before the defination block of my Function.
Second line after the defination block of my Function.

In [26]:
myFunction()

25

In [27]:
print("Line before the function body/defination.")
def test():
    print("Hello World")
    print()
    print("End of Function")
print("Line after the defination block of the Function.")
test()
print("Line after the INVOKE to the earlier defined Function.")
test()
test()
print('............................')
test()

Line before the function body/defination.
Line after the defination block of the Function.
Hello World

End of Function
Line after the INVOKE to the earlier defined Function.
Hello World

End of Function
Hello World

End of Function
............................
Hello World

End of Function

* question Y don't we use loop(s) to repeat these tasks

In [28]:
def add(): # parameter less function
    print(100+150)

In [29]:
add()

250

In [30]:
add()

250

In [3]:
def add(a, b): #parameterized function
    '''This function takes to numbers as an input
    and displays the sum of the 
    given numbers.'''
    print(a+b)

In [37]:
add(10+13) #wrong call to the function

TypeError: add() missing 1 required positional argument: 'b'

In [33]:
add(10,17) # now the values being passed are known as Arguments NOT the Parameters :(

27

In [34]:
add(101,202)

303

In [38]:
add() # SHIFT + TAB to display the Signature of any function

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [35]:
max([1,2,3,4,7,5])

7

In [39]:
def min():
    print('Testing')

In [40]:
min()

Testing

In [41]:
min(12,34,45)

TypeError: min() takes 0 positional arguments but 3 were given

In [1]:
min(12,3,4,101)

3

In [2]:
add()

NameError: name 'add' is not defined

In [4]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [5]:
add(100,50) # positional arguments cz arguments are being passed as per the position of the Argument

150

In [7]:
add(b=5, a=10) # passing information keyword arguments

15

In [8]:
def fullName(first, middle, last):
    print(first+' '+middle+' '+last)

In [9]:
fullName('Ali','Hussain','Khan')

Ali Hussain Khan

In [10]:
fullName('Hussain','Khan','Ali') # position matters in positional arguments

Hussain Khan Ali

In [11]:
fullName(middle='Hussain',last='Khan',first='Ali')

Ali Hussain Khan

In [12]:
fullName('Ali',last='Khan',middle='Hussain')

Ali Hussain Khan

In [13]:
fullName(middle='Hussain',first='Ali','Khan')

SyntaxError: positional argument follows keyword argument (<ipython-input-13-bc4283aa195d>, line 1)

## Default value parameters

In [14]:
fullName('Shahzad','Ahmed')

TypeError: fullName() missing 1 required positional argument: 'last'

In [15]:
def fullName(first, middle='', last):
    print(first+' '+middle+' '+last)

SyntaxError: non-default argument follows default argument (<ipython-input-15-d10f943adeb5>, line 1)

In [16]:
def fullName(first,  last, middle=''):
    print(first+' '+middle+' '+last)

In [17]:
fullName('Shahzad','Ahmed')

Shahzad  Ahmed

In [18]:
fullName('Nasir','Hussain', 'Ali')

Nasir Ali Hussain

# Dealing with an unknown number of arguments (arbitrary arguments)

In [22]:
def pizzaOrder(size, flavour, toppings):
    print(f"Your order of pizza of size: {size}, flavour: {flavour}, and toppins: {toppings} is ready.")

In [23]:
pizzaOrder(12,'Chicken Tikka','Olives')

Your order of pizza of size: 12, flavour: Chicken Tikka, and toppins: Olives is ready.

In [24]:
pizzaOrder(12,'Chicken Tikka','Olives','Fruits')

TypeError: pizzaOrder() takes 3 positional arguments but 4 were given

In [25]:
def pizzaOrder(size, flavour, *toppings): # this parameter deals with arbitrary arguments
    print(f"Your order of pizza of size: {size}, flavour: {flavour}, and toppins: {toppings} is ready.")

In [26]:
pizzaOrder(12,'Chicken Tikka','Olives','Fruits')

Your order of pizza of size: 12, flavour: Chicken Tikka, and toppins: ('Olives', 'Fruits') is ready.

In [28]:
pizzaOrder(12,'Chicken Tikka')

Your order of pizza of size: 12, flavour: Chicken Tikka, and toppins: () is ready.

In [29]:
pizzaOrder(12,'Chicken Tikka','Olives','Fruits','abcd','xyz')

Your order of pizza of size: 12, flavour: Chicken Tikka, and toppins: ('Olives', 'Fruits', 'abcd', 'xyz') is ready.

In [30]:
# arbitrary argument's parameter must be the LAST in position

# Passing back information from the Functions

 * Function can Return value(s) using the return keyword

In [35]:
def add(val1, val2):
    ans = val1 + val2
    return ans

In [36]:
result = add(100,25)
result

125

In [37]:
def add(val1, val2):
    ans = val1 + val2
    return ans, "Hello Function"

In [38]:
result=add(10,25)

In [39]:
result

(35, 'Hello Function')

In [40]:
def add(val1, val2):
    ans = val1 + val2
    return ans, "Hello Function"
    print("will this execute???") # return MUST BE the last statement in a functi

In [41]:
result=add(10,25)
result

(35, 'Hello Function')

# Using Functions as Variables

In [43]:
def add(a,b):
    return a+b
    # if a function does not return any value it returns None
def subtract(a, b):
    return a-b

In [46]:
result=add(2,3) ** subtract(4,2)
result

25

In [47]:
def test():
    print("Hello")

In [48]:
result=add(2,3) ** test()
result

Hello

TypeError: unsupported operand type(s) for ** or pow(): 'int' and 'NoneType'

# Functions Local and Global Variables

In [49]:
def beHappy():
    name = 'Mr. A' # local variable
    print(f"{name} is very happy today.")

In [51]:
beHappy()
print(name)

Mr. A is very happy today.

NameError: name 'name' is not defined

In [53]:
anotherName = 'Mr. B' # global variable
def beHappy():
    name = 'Mr. A' # local variable
    print(f"{name} is very happy to meet {anotherName} today.")

In [54]:
beHappy()

Mr. A is very happy to meet Mr. B today.

In [55]:
print(anotherName)

Mr. B

In [56]:
print(name)

NameError: name 'name' is not defined

# Functions within other Functions

In [58]:
def commissionCalc(sales):
    if sales > 100:
        return sales * 100
    elif sales > 50:
        return sales * 50
    elif sales > 20:
        return sales * 20
    else:
        return 0
def salCalc(basic, sales):
    grossSal = basic + commissionCalc(sales)
    print(f"Your gross Salary: {grossSal}.")

In [59]:
salCalc(16000,55)

Your gross Salary: 18750.

In [60]:
salCalc(16000,19)

Your gross Salary: 16000.

# while loops

In [1]:
a = 0
while a < 10:
    print("This is while loop printing: "+str(a))
    a += 1

This is while loop printing: 0
This is while loop printing: 1
This is while loop printing: 2
This is while loop printing: 3
This is while loop printing: 4
This is while loop printing: 5
This is while loop printing: 6
This is while loop printing: 7
This is while loop printing: 8
This is while loop printing: 9

In [2]:
#a = 0
for a in range(10):
    print("This is for loop printing: "+str(a))
    #a += 1

This is for loop printing: 0
This is for loop printing: 1
This is for loop printing: 2
This is for loop printing: 3
This is for loop printing: 4
This is for loop printing: 5
This is for loop printing: 6
This is for loop printing: 7
This is for loop printing: 8
This is for loop printing: 9

In [3]:
a = 0
while a < 10:
    input("Enter your favourite food: ")
    a += 1

Enter your favourite food: karahi
Enter your favourite food: mutton quorma
Enter your favourite food: halwa
Enter your favourite food: a
Enter your favourite food: b
Enter your favourite food: c
Enter your favourite food: d
Enter your favourite food: e
Enter your favourite food: f
Enter your favourite food: g

In [7]:
flag = True
favFoods = []
while flag:
    userinput = input("Enter your favourite food or press Q to quit: ")
    if userinput.lower().strip() == 'q':
        flag = False
    else:
        favFoods.append(userinput)
favFoods

Enter your favourite food or press Q to quit:    q

[]

# classes (object oriented programming's first concept)

In [8]:
# python is an "object oriented programming language". 
# i.e. almost all the code is implemented using special construct called "classes"

In [9]:
# A class is a model
# A class is a blueprint(model) of anything.
# A class is a template.
# A class may also be defined as something that can be used to created objects and instances

In [10]:
# objects are instances (copies) of classes

In [14]:
# car class
    # car has a color
    # car has a make
    # car has a model
    # car has engine capacity
    # car has seatting capacity

In [15]:
# A class may hold attributes (variables)
# A class may also hold attributes (functions)

# class creating an instance

class Car():
    # define a class body
        # attributes and behaviours

# creating objects/instances of the class (Car)
    car1 = Car()
    car2 = Car()

In [18]:
# define a class

class Car(): # naming convention of classes is to use the Title case
    # attributes >>>>>> variables in programming
    def __init__(self, make, model, year):
        
    # behaviours >>>>>> functions in programming
    pass